{% extends "minimumui/Layout.html.twig" %}
{% trans_default_domain 'minimumui' %}

{% block title %}{{ "file_upload_title"|trans }}{% endblock %}
{% block js_libraries %}
    <script src="/minimumui/components/filepond/dist/filepond.js"></script>
    <script src="/minimumui/components/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="/minimumui/components/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="/minimumui/components/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/minimumui/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/minimumui/js/libs/jq.input.js"></script>
{% endblock %}

{% block js_app %}
    <script src="/minimumui/js/file_upload.js"></script>
{% endblock %}

{% block css_libraries %}
    <link rel="stylesheet" href="/minimumui/components/filepond/dist/filepond.css">
    <link  href="/minimumui/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link  href="/minimumui/components/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link rel="stylesheet" href="/minimumui/css/file_upload.css">
{% endblock %}

{% block body %}
    <div class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">{{ "label_settings"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#upload" role="tab">{{ "label_upload"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{{ url('minimumui.upload_image', {'_token': tokenId, '_S': '/'}) }}">{{ "label_upload_image"|trans }}</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in" id="upload" name="upload" role="tabpanel">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <input type="file"
                               class="filepond"
                               name="filepond"
                               multiple
                        />
                    </div>
                </div>
            </div>

            <div class="tab-pane active in" id="settings" name="settings" role="tabpanel">
                <div class="row">
                    <div class="options-bar col-xs-12 col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <small class="form-text text-muted"><strong>{{ "notice"|trans }}:</strong> {{ "notice_settings_may_not_apply_to_already_uploaded"|trans }}</small>
                    </div>

                    {# Tags #}
                    {% if tagsAreEnforced and tags %}
                        <div class="options-bar col-xs-12 col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <label>{{ "following_tags_are_enforced"|trans }}</label>
                            <ul class="list-group">
                                {% for tag in tags %}
                                    <li class="list-group-item">{{ tag }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% elseif not tagsAreEnforced %}
                        <div class="options-bar col-xs-12 col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <label>{{ "please_select_tags"|trans }}</label>
                            <input id="tags_selector" type="text" aria-describedby="tagsHelp" value="{{ tags|join(',') }}">
                            <small id="tagsHelp" class="form-text text-muted">{{ "tags_help"|trans }}</small>
                        </div>
                    {% endif %}

                    {# Password #}
                    {% if passwordIsAllowed %}
                        <div class="options-bar col-xs-12 col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <label>{{ "password_label"|trans }}</label>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="(optional) enter password">
                                <small id="passwordHelp" class="form-text text-muted">{{ "password_help"|trans }}</small>
                            </div>
                        </div>
                    {% else %}
                        <div class="options-bar col-xs-12 col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <label>{{ "password_not_allowed_to_be_set"|trans }}</label>
                        </div>
                    {% endif %}

                    {# Allowed mime types #}
                    {% if allowedMimeTypes %}
                        <div class="options-bar col-xs-12 col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <label>{{ "mimes_allowed_label"|trans }}</label>
                            <ul class="list-group">
                                {% for allowedMime in allowedMimeTypes %}
                                    <li class="list-group-item">{{ allowedMime }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <div class="options-bar col-xs-12 col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <label>{{ "any_mime_allowed_label"|trans }}</label>
                        </div>
                    {% endif %}

                    {# Visibility: Public/private #}
                    <div class="options-bar col-xs-12 col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <label>{{ "visibility_label"|trans }}</label>
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="is_public" checked="checked">
                            <small id="is_publicHelp" class="form-text text-muted">
                                {{ "visibility_help"|trans }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            window.app = new FileUpload(
                '{{ tokenId }}',
                {{ formOpts|json_encode|raw }},
                {{ tags|json_encode|raw }},
                {{ tagsAreEnforced|json_encode|raw }},
                {{ maxFileSize|json_encode|raw }},
                {{ "label_upload_files"|trans|json_encode|raw }},
                {{ "label_upload_limit"|trans|json_encode|raw }}
            );

            $('#tags_selector').tagsInput();
        });
    </script>
{% endblock %}
